html
head
 link(type="text/css",ret="stylesheet",href="/css/bootstrap.css")
body
 div=title

 script(type="text/javascript")(src="/libs/jquery-1.10.0.js")
 script(type="text/javascript")(src="/libs/bootstrap.js")